@using PhamVanTung.SachOnline.Models
@model List<GIOHANG>
@{
    ViewBag.Title = "Gio hang";
    Layout = "~/Views/Shared/PhamVanTung.Layout.cshtml";
}

<h2 class="text-center">THONG TIN GIO HANG</h2>

@if (Model == null || !Model.Any())
{
    <p class="text-center text-danger">Gio hang cua ban dang trong.</p>
}
else
{
    <table class="table table-bordered">
        <thead style="background-color:#9c9a14;color:#fff;font-size:15px;text-align:center;">
            <tr>
                <th>Ma Sach</th>
                <th>Ten Sach</th>
                <th>Anh Bia</th>
                <th>So Luong</th>
                <th>Don Gia</th>
                <th>Thanh Tien</th>
                <th>Thao tac</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@item.iMaSach</td>
                    <td>@item.sTenSach</td>
                    <td class="text-center">
                        <img src="@Url.Content("~/Images/" + item.sAnhBia)" alt="@item.sTenSach" style="width:100px;height:auto;" />
                    </td>
                    <td class="text-center">
                        @using (Html.BeginForm("CapNhatGioHang", "PhamVanTung_GioHang", FormMethod.Post, new { @class = "form-inline" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("iMaSach", item.iMaSach)
                            <input type="number" name="txtSoLuong" value="@item.iSoLuong" min="1" class="form-control" style="width:80px;display:inline-block;background-color:#f4ff94;" />
                            <button type="submit" class="btn btn-default btn-sm">Cap nhat</button>
                        }
                    </td>
                    <td class="text-right">@string.Format("{0:0,0}", item.dDonGia)</td>
                    <td class="text-right">@string.Format("{0:0,0}", item.dThanhTien)</td>
                    <td class="text-center">
                        @Html.ActionLink("Chi tiet", "ChiTietSach", "PhamVanTungSachOnline", new { id = item.iMaSach }, new { @class = "btn btn-link btn-xs" })
                        @Html.ActionLink("Xoa", "XoaSPKhoiGioHang", new { iMaSach = item.iMaSach }, new { @class = "btn btn-link btn-xs text-danger" })
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="text-right" style="font-weight:bold;color:red;">
                    Tong so luong: @string.Format("{0:0,0}", ViewBag.TongSoLuong ?? 0)
                </td>
                <td colspan="2" class="text-right" style="font-weight:bold;color:red;">
                    Tong tien: @string.Format("{0:0,0}", ViewBag.TongTien ?? 0m) VND
                </td>
                <td class="text-center">
                    @Html.ActionLink("Xoa gio hang", "XoaGioHang", null, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
            <tr style="font-weight:bold; color:blue; text-align:center;">
                <td colspan="7">
                    @Html.ActionLink("DAT HANG", "DatHang", "PhamVanTung_GioHang", null, new { @class = "btn btn-primary" })
                </td>
            </tr>
        </tfoot>
    </table>
}

<div class="text-right">
    <a href="@Url.Action("Index","PhamVanTungSachOnline")" class="btn btn-default">Tiep tuc mua</a>
</div>
